*.vsidx
EcommerceLicenca/EcommerceLicenca/obj/EcommerceLicenca.csproj.nuget.dgspec.json
EcommerceLicenca/EcommerceLicenca/obj/EcommerceLicenca.csproj.nuget.dgspec.json
EcommerceLicenca/EcommerceLicenca/obj/EcommerceLicenca.csproj.nuget.dgspec.json
EcommerceLicenca/EcommerceLicenca/obj/project.nuget.cache
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.AssemblyInfo.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.AssemblyInfoInputs.cache
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.assets.cache
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.csproj.AssemblyReference.cache
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.GeneratedMSBuildEditorConfig.editorconfig
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.RazorAssemblyInfo.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.RazorAssemblyInfo.cache
EcommerceLicenca/.vs/EcommerceLicenca/v17/.suo
EcommerceLicenca/.vs/EcommerceLicenca/v17/.futdcache.v2
EcommerceLicenca/.vs/ProjectEvaluation/ecommercelicenca.metadata.v7.bin
EcommerceLicenca/.vs/ProjectEvaluation/ecommercelicenca.projects.v7.bin
EcommerceLicenca/.vs/EcommerceLicenca/v17/.suo
