*.vsidx
EcommerceLicenca/EcommerceLicenca/obj/EcommerceLicenca.csproj.nuget.dgspec.json
EcommerceLicenca/EcommerceLicenca/obj/EcommerceLicenca.csproj.nuget.dgspec.json
EcommerceLicenca/EcommerceLicenca/obj/EcommerceLicenca.csproj.nuget.dgspec.json
EcommerceLicenca/EcommerceLicenca/obj/project.nuget.cache
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.AssemblyInfo.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.AssemblyInfoInputs.cache
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.assets.cache
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.csproj.AssemblyReference.cache
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.GeneratedMSBuildEditorConfig.editorconfig
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.RazorAssemblyInfo.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.RazorAssemblyInfo.cache
EcommerceLicenca/.vs/EcommerceLicenca/v17/.suo
EcommerceLicenca/.vs/EcommerceLicenca/v17/.futdcache.v2
EcommerceLicenca/.vs/ProjectEvaluation/ecommercelicenca.metadata.v7.bin
EcommerceLicenca/.vs/ProjectEvaluation/ecommercelicenca.projects.v7.bin
EcommerceLicenca/.vs/EcommerceLicenca/v17/.suo
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/staticwebassets/EcommerceLicenca.StaticWebAssets.Pack.cache
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.build.EcommerceLicenca.props
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.buildMultiTargeting.EcommerceLicenca.props
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.buildTransitive.EcommerceLicenca.props
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.EcommerceLicenca.Microsoft.AspNetCore.StaticWebAssets.props
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/apphost.exe
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/Ecommerc.D39F4350.Up2Date
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.AssemblyInfo.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.AssemblyInfoInputs.cache
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.assets.cache
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.csproj.AssemblyReference.cache
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.csproj.CoreCompileInputs.cache
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.csproj.FileListAbsolute.txt
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.dll
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.GeneratedMSBuildEditorConfig.editorconfig
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.genruntimeconfig.cache
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.MvcApplicationPartsAssemblyInfo.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.pdb
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.RazorAssemblyInfo.cache
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.RazorAssemblyInfo.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.RazorCoreGenerate.cache
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.RazorTargetAssemblyInfo.cache
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.RazorTargetAssemblyInfo.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.sourcelink.json
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.TagHelpers.output.cache
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.Views.dll
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/EcommerceLicenca.Views.pdb
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/project.razor.vs.bin
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/Razor/Views/Licenca/Form.cshtml.g.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/Razor/Views/Licenca/Index.cshtml.g.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
EcommerceLicenca/EcommerceLicenca/obj/Debug/netcoreapp3.1/Razor/Views/Usuario/Form.cshtml.g.cs
