@model EcommerceLicenca.Models.UsuarioViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Cadastro de Usuário</h2>
<div class="row">
    <div class="col-md-4">
        <form action="Salvar" method="post">
            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />

            <label for="Id" class="control-label">ID</label>
            @if (ViewBag.Operacao == "I")
            {
                <input asp-for="Id" class="form-control" />
            }
            else
            {
                <input asp-for="Id" class="form-control" readonly />
            }
            <span asp-validation-for="Id" class="text-danger"></span>
            <br />

            <label for="NomeUsuario" class="control-label">Nome do Usuário</label>
            <input asp-for="NomeUsuario" class="form-control" />
            <span asp-validation-for="NomeUsuario" class="text-danger"></span>
            <br />

            <label for="Cpf" class="control-label">CPF</label>
            <input asp-for="Cpf" class="form-control" />
            <span asp-validation-for="Cpf" class="text-danger"></span>
            <br />

            <label for="DataNascimento" class="control-label">Data de Nascimento</label>
            <input type="date" name="DataNascimento" value="@Model.DataNascimento.ToString("yyyy-MM-dd")" class="form-control" />
            <span asp-validation-for="DataNascimento" class="text-danger"></span>
            <br />

            <label for="Sexo" class="control-label">Sexo</label>
            <input asp-for="Sexo" class="form-control" />
            <span asp-validation-for="Sexo" class="text-danger"></span>
            <br />

            <label for="Rua" class="control-label">Rua</label>
            <input asp-for="Rua" class="form-control" />
            <span asp-validation-for="Rua" class="text-danger"></span>
            <br />

            <label for="Numero" class="control-label">Número</label>
            <input asp-for="Numero" class="form-control" />
            <span asp-validation-for="Numero" class="text-danger"></span>
            <br />

            <label for="Bairro" class="control-label">Bairro</label>
            <input asp-for="Bairro" class="form-control" />
            <span asp-validation-for="Bairro" class="text-danger"></span>
            <br />

            <label for="Cep" class="control-label">CEP</label>
            <input asp-for="Cep" class="form-control" />
            <span asp-validation-for="Cep" class="text-danger"></span>
            <br />

            <label for="TelefoneCelular" class="control-label">Telefone Celular</label>
            <input asp-for="TelefoneCelular" class="form-control" />
            <span asp-validation-for="TelefoneCelular" class="text-danger"></span>
            <br />

            <label for="Email" class="control-label">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <br />

            <label for="Senha" class="control-label">Senha</label>
            <input asp-for="Senha" class="form-control" type="password" />
            <span asp-validation-for="Senha" class="text-danger"></span>
            <br />

            <label for="DataRegistro" class="control-label">Data de Registro</label>
            <input type="date" name="DataRegistro" value="@Model.DataRegistro.ToString("yyyy-MM-dd")" class="form-control" readonly />
            <span asp-validation-for="DataRegistro" class="text-danger"></span>
            <br />

            <label for="TipoUsuario" class="control-label">Tipo de Usuário</label>
            <input asp-for="TipoUsuario" class="form-control" />
            <span asp-validation-for="TipoUsuario" class="text-danger"></span>
            <br />

            <input type="submit" value="Salvar dados" class="btn btn-primary" />
            &nbsp;
            <a href="/usuario/index" class="btn btn-light">Voltar</a>
            <br />
        </form>
    </div>
</div>
