\Login\Index.cshtml
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Login</h2>
<div class="row">
    <div class="col-lg-3">
        <form action="/login/Fazlogin" method="post">            
            <label for="email" class="control-label">Usuário</label>
            <input type="text" name="email" class="form-control" required placeholder='Email...' />
            <label for="senha" class="control-label">Senha</label>
            <input type="password" name="senha" class="form-control" required placeholder='Senha...' />
            <br />
            <input type="submit" value="Login" class="btn btn-success" />
            <br />
            <span class="text-danger"> @ViewBag.Erro</span>
        </form>
        <br />
        <a href="/Usuario/Create" class="btn btn-success">Cadastre-se</a>
    </div>
</div>
