@model CarrinhoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Escolha a quantidade de licenças</h2>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdicionarCarrinho">
            <input asp-for="LicencaId" hidden />
            <img id="imgPreview" src="data:image/jpeg;base64,@Model.ImagemEmBase64"
                 class="img-responsive" width="200">
            <br />            
            <strong>Licenca : @Model.LicencaId - @Model.NomeLicenca</strong>
            <br />
            <br />
            Quantidade:
            <input asp-for="Quantidade" />
            <br />
            <br />
            <input type="submit" value="Adicionar ao carrinho" class="btn btn-primary" />
            <br />
            <span class="text-danger">@ViewBag.Erro</span>
        </form>
    </div>
</div>