@model List<LicencaViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center><h2>Licenças à venda</h2> </center>
<br />
<div class="fundo-vitrine">
    <img src="~/images/carrinho.png" />
    Há @ViewBag.TotalCarrinho terrenos no carrinho.
    <a href="/Carrinho/Visualizar">Visualizar</a>
</div>
<br />
<br />
<div class="fundo-vitrine">
    <ul class="ul-vitrine">
        @foreach (var licenca in Model)
        {
            <li class="li-vitrine">
                <a href="/Carrinho/Detalhes/?LicencaId=@licenca.Id">
                     <img class="imagem-vitrine" src="data:image/jpeg;base64,@licenca.ImagemEmBase64">
                        <figcaption>
                            @licenca.NomeLicenca<br>
                        </figcaption>
                </a>
            </li>
        }
    </ul>
</div>
@section Styles {
    <link href="@Url.Content("~/css/carrinho.css")" rel="stylesheet" type="text/css" />
}
